.Num-gradientbg{
    background: linear-gradient(70deg black, rgb(0, 17, 255));
    color: whitesmoke;
}

.animated-Numtab:hover{
    transform:scale(1.01);
    transition-duration: 1s;

}
.animated-Numtab:not(:hover){
    transform:scale(1);
    transition-duration: 1s;
}



.animated-Card:hover{
    transform:scale(1.05);
    transition-duration: 1s;
}

.animated-Card:not(:hover){
    transform:scale(1);
    transition-duration: 1s;
}
